
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
    {% if page_title is empty %}
        Default Page Title
    {% else %}
        {{ page_title }}
    {% endif %}
    </title>
<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

<link rel="stylesheet" href="{{ baseUrl }}/public/css/vendor/bootstrap.css">
<link rel="stylesheet" href="{{ baseUrl }}/public/css/main.css">




<script>if (window.module) module = window.module;</script>
    <style>
        {% if page_style is empty %}
            
        {% else %}
            {{ page_style }}
        {% endif %}    
    </style>
