{% extends '/template/template.html.twig'  %}

{% block head %}  
    {{parent ()}}


    {% block page_title %}
        <title>{{titulo}}</title>
    {% endblock  %}
    
    {% include '/template/head.html.twig' with {page_title: block('page_title'), page_style: block("page_style")}  %}


    {% block page_style %}

    {% endblock  %}
 
    <script src="{{ baseUrl }}/public/js/lib/jquery.js"></script>
    <script src="{{ baseUrl }}/public/js/lib/bootstrap.js"></script>
    <!--<script src="{ { baseUrl }}/public/js/lib/jquery.validate.min.js"></script>-->
    <script src="{{ baseUrl }}/public/js/main.js"></script>  


    <link rel="stylesheet" href="{{ baseUrl }}/public/lib/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="{{ baseUrl }}/public/lib/jquery-ui/jquery-ui.theme.min.css">
    <link rel="stylesheet" href="{{ baseUrl }}/public/lib/jquery-ui/jquery-ui.structure.min.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">    

<script src="{{ baseUrl }}/public/lib/jquery-ui/jquery-ui.min.js"></script>     
{% endblock  %}


{% block body %}
        
        <div id="divBodyMenu">
            {% block body_menu %}
                {% include '/template/menu.html.twig' %}
            {% endblock  %}
        </div>

        <div id="divBodyContent">
            {% block body_content %}
                
            {% endblock  %}
        </div>
        
        <div id="divBodyFooter">
            {% block body_footer %}
                {% include '/template/footer.html.twig' %}
            {% endblock  %}
        </div>


 
       
            
        {% block body_script %}
            
        {% endblock  %}

      
 

{% endblock  %}