<input type="hidden" id="hdnMenu" data-dados="{{ menu|json_encode() }}">

<nav class="navbar navbar-default navbar-static-top" style="border-color: #e0e0e0;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#navbar" class="navbar-toggle collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/academico" class="navbar-brand">Controle Acadêmico</a>
            </div>
            
            <div id="navbar" class="navbar-collapse collapse">
                <ul id="" class="nav navbar-nav">
                    <div id="menuPermissaoReplace" ></div>

                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Processo Seletivo <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        <li><a href="#">Inscrição</a></li>
                        <li><a href="#">Acompanhamento</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right" {{ logado  == true ? "" : "hidden"}} style="/*margin-right: 1em;*/">
                    <li>
                        <a href="/login">Minha Conta</a>
                    </li>
                    <li>
                        <a href="/academico/sair">Sair</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <script>
        $(document).ready(function ()
        {
            construirMenu();

        });

        function construirMenu()
        {
            var paiNome = null;
            var paiId = null;
            var replaceMenu = $("#menuPermissaoReplace");
            var li =  $("#menuPermissaoReplace").clone();
            $(li).empty();
            var indice = 0;
            var filhoNome = null;

            var dadosMenu = $("#hdnMenu").data("dados"); 


            $(dadosMenu).each(function(index, elem)
            {
                indice++;
                telaPath =  elem["tela_path"];
                if(paiNome == null)
                {                 
                    paiNome = elem["pai_nome"];
                    filhoNome = elem["menu_nome"];                
                    paiId = "menu_" + indice;
                    
                   
                    $(li).append
                    (
                        $("<li>").append
                        (
                            "<a href='#' class='dropdown-toggle' data-toggle='dropdown'>" + paiNome + " <b class='caret'></b></a>"
                            
                        )
                        .append
                        (
                           "<ul id='"+ paiId +"' class='dropdown-menu'></ul>"
                        )
                    );

                    $(li).find("#"+ paiId).html
                    (
                        $(li).find("#"+ paiId).html() + "<li><a href='"+telaPath+"'>"+ filhoNome+"</a> </li>"
                    );
 
  
                }
                else if(paiNome != elem["pai_nome"])
                {                   
                    paiNome = elem["pai_nome"];
                    filhoNome = elem["menu_nome"];

                    paiId = "menu_" + indice;     
                    $(li).append
                    (
                        $("<li>").append
                        (
                            "<a href='#' class='dropdown-toggle' data-toggle='dropdown'>" + paiNome + " <b class='caret'></b></a>"
                            
                        )
                        .append
                        (
                           "<ul id='"+ paiId +"' class='dropdown-menu'></ul>"
                        )
                    );

                    $(li).find("#"+ paiId).html
                    (
                        $(li).find("#"+ paiId).html() + "<li><a href='"+telaPath+"'>"+ filhoNome+"</a> </li>"
                    );                    
                }

                else
                {
                   filhoNome = elem["menu_nome"];
                    $(li).find("#"+ paiId).html
                    (
                        $(li).find("#"+ paiId).html() + "<li><a href='"+telaPath+"'>"+ filhoNome+"</a> </li>"
                    );
                }
            });
             $("#navbar").append('<ul id="" class="nav navbar-nav">'+ $(li).html()        +'  </ul>')
        }
    </script>