<html>
    <head>
        {% block head %}
              
        {% endblock  %}
    </head>
    <body>

        {% block body_menu %}
                
        {% endblock  %}

        {% block body_content %}
            
        {% endblock  %}

        {% block body_footer %}
            
        {% endblock  %}

        {% block body_script %}
           
        {% endblock  %}        
        

    </body>
</html>