{% extends '/template/layout.html.twig' %}
{% block page_style %}
    {{parent ()}}
    <link rel="stylesheet" href="{{ baseUrl }}/public/css/grid.css">
{% endblock %}

{% block body_content %}
    <div class="container">
        <input type="hidden" id="hdnCursos" data-dados="{{ dados.curso.cursos|json_encode() }}">
        <input type="hidden" id="hdnPaginacao" data-dados="{{ dados.curso.paginacao|json_encode() }}">
        <input type="hidden" id="hdnCursosOpcoes" data-dados="{{ dados.curso.cursosOpcoes|json_encode() }}">

        <input type="hidden" id="hdnDepartamentos" data-dados="{{ dados.departamento|json_encode() }}">

        <input type="hidden" id="hdnCursosTipo" data-dados="{{ dados.cursoTipo|json_encode() }}">

        <div class="form formCurso" hidden>

            <input type="hidden" id="hdnFormCurso">
            <div class="form-horizontal">
                <fieldset>
                    <div id="legend">
                        <legend class="">Dados do Curso</legend>
                    </div>
                    <div class="control-group">

                        <label class="control-label" for="c-nome">Nome do Curso</label>
                        <div class="controls">
                            <input id="c-nome" name="c-nome" placeholder="" class="input-xlarge" type="text">
                        </div>
                    </div>

                    <div class="control-group">

                        <label class="control-label" for="c-departamento">Nome do Departamento</label>

                        <div class="controls">
                            <select id="c-departamento" class="input-xlarge">
                                <option>Selecione um departamento...
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <!-- E-mail -->
                        <label class="control-label" for="c-instituto">Nome do Instituto</label>

                        <div class="controls">
                            <input id="c-instituto" name="c-instituto" disabled="disabled" placeholder="" class="input-xlarge" type="text">
                        </div>
                    </div>

                    <div class="control-group">

                        <label class="control-label" for="c-coordenadorNome">Nome do Coordenador do Curso</label>
                        <div class="controls autoComplete">
                            <input id="c-coordenador" name="c-coordenadorNome" placeholder="" class="input-xlarge autoCompleteCurso autoCompleteText" type="text">
                            <input type="hidden" id="c-coordenadorId" class="autoCompleteId">
                        </div>
                    </div>

                    <div class="control-group">

                        <label class="control-label" for="c-tipo">Tipo do Curso</label>
                        <div class="controls">
                            <select id="c-tipo" class="input-xlarge">
                                <option>
                                    Selecione o tipo de curso...</option>
                            </select>
                        </div>
                    </div>

                    <div class="control-group">

                        <label class="control-label" for="c-grau">Grau</label>
                        <div class="controls">
                            <input id="c-grau" name="c-grau" disabled="disabled" placeholder="" class="input-xlarge" type="text">
                        </div>
                    </div>   

                    <div class="control-group">                      
                        <label class="control-label" for="c-ativo">Ativo</label>
                        <div class="controls">
                            <select id="c-ativo" class="input-xlarge"  data-default="true">
                                <option value="true" selected> Ativo</option>
                                <option  value="false"> Inativo</option>
                            </select>
                        </div>
                        

                    </div>                       
                            

                    <div>
                        <br/>
                        <div class="control-group">
                            <!-- Button -->
                            <div class="controls">
                                <button id="salvarCurso" class="btn btn-success btn-sm">Salvar</button>
                                <button id="cancelarCurso" class="btn btn-danger btn-sm cancelar">Cancelar</button>
                            </div>
                        </div>
                        <hr/>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="table-wrapper table-responsive" style="width: 80%;">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8">
                        <h2>Controle de
                            <b>Cursos</b>
                        </h2>
                    </div>
                    <div class="col-sm-4">
                        <div class="search-box">
                            <i class="material-icons">&#xE8B6;</i>
                            <input type="text" id="buscaPalavraChave" class="form-control" placeholder="Buscar&hellip;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="control-group" style="padding-bottom: 5px; ">
                <div class="controls small" style="clear:both;">
                    <button id="btnNovoCurso" class="btn btn-primary btn-xs pull-right">Novo Curso</button>
                </div>
                <div style="clear:both;"></div>
            </div>            
            <table class="table table-striped table-hover table-bordered ">
                <thead> 
                    <tr>
                        <th class="sortOption" data-sort="curso">
                            #<i class="fa fa-sort"></i>
                        </th>
                        <th class="sortOption" data-sort="curso_nome">
                            Nome
                            <i class="fa fa-sort"></i>
                        </th>
                        <th class="sortOption" data-sort="departamento_nome">
                            Departamento
                            <i class="fa fa-sort"></i>
                        </th>
                        <th class="sortOption" data-sort="instituto_nome">
                            Instituto
                            <i class="fa fa-sort"></i>
                        </th>
                        <th class="sortOption" data-sort="grau">
                            Grau
                            <i class="fa fa-sort"></i>
                        </th>
                        <th class="sortOption" data-sort="coordenador_nome">
                            Coordenador
                            <i class="fa fa-sort"></i>
                        </th>
                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody id="tbodyCursos"></tbody>
            </table>
            <div class="clearfix">
                <ul class="pagination"></ul>
            </div>
        </div>
    </div>
    <div class="msgAlert alert" hidden>
        <div>
            <strong></strong>
        </div>
    </div>


        <!--alert alert-danger-->

{% endblock %}

{% block body_script %}
    {{parent ()}}

    <script src="{{ baseUrl }}/app/curso/js/curso.js"></script>  

{% endblock %}