@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
.well{
    background-color:#fff!important;
    border-radius:0!important;
    border:none!important;
}

.well.login-box {
    width:300px;
    margin:0 auto;
    display:none;
    background: #fcfcfc !important;
}
.well.login-box legend {
  font-size:26px;
  text-align:center;
  font-weight:300;
}
.well.login-box label {
  font-weight:300;
  font-size:16px;
  
}
.well.login-box input[type="text"] {
  box-shadow:none;
  border-color:#ddd;
  border-radius:0;
}

.well.login-box input[type="password"]
{
  box-shadow:none;
  border-color:#ddd;
  border-radius:0;
}

.well.welcome-text{
    font-size:21px;
}

/* Notifications */

.notification{
    position:fixed;
    top: 20px;
    right:0;
    background-color:#FF4136;
    padding: 20px;
    color: #fff;
    font-size:21px;
    display:none;
}
.notification-success{
  background-color:#3D9970;
}

.notification-show{
    display:block!important;
}

/*Loged in*/
.logged-in{
  display:none;
}
.logged-in h1{
  margin:0;
  font-weight:300;
}

.login-box
{
  margin-top: 20.5px; display: block; 
  background: #ffffff !important;
  border: solid 1.4px rgba(160, 160, 160) !important;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0) !important;
  color: rgb(160,160,160) !important;
}

.login-legend
{
  color: rgb(140,140,140) !important;
}

#password
{
  text-security: disc;
  -webkit-text-security: disc;
  -moz-text-security: disc;
}