{% extends '/template/layout.html.twig' %}
{% block page_style %}
    {{parent ()}}
    <link rel="stylesheet" href="{{ baseUrl }}/public/css/grid.css">
{% endblock %}

{% block body_content %}
    <div class="container">
        <input type="hidden" id="hdnProcessosSeletivos" data-dados="{{ dados.processoSeletivo.processoSeletivo|json_encode() }}">
        <input type="hidden" id="hdnPaginacao" data-dados="{{ dados.processoSeletivo.paginacao|json_encode() }}">

        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8">
                        <h2>
                            <b>Processos Seletivos</b>
                        </h2>
                    </div>
                    <div class="col-sm-4">
                        <div class="search-box">

                            <div class="input-group">
                                <select class="custom-select" id="inputGroupSelect04" style="min-width: 30px;">
                                    <option selected="selected">Selecione...</option>
                                    <option value="1" selected="selected">Abertos</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Ano/Período
                            <i class="fa fa-sort"></i>
                        </th>
                        <th>Curso</th>
                        <th>
                            Período de Inscrição<i class="fa fa-sort"></i>
                        </th>
                        <th>Data Provável do Exame</th>
                        <th>Edital
                            <i class="fa fa-sort"></i>
                        </th>
                        <th>Opções</th>
                    </tr>
                </thead>

                <tbody id="tbodyProcessoSeletivo"></tbody>
            </table>

        </div>
        <div hidden id='conteudoInscrever'>
            <a class="edit" style="vertical-align:  top;">Inscrever-se</a>
            <a href="#" class="edit text-center" title="Edit" data-toggle="tooltip">
                <i class="material-icons">&#xE254;</i>
            </a>
        </div>

    </div>
{% endblock %}


{% block body_script %}

    {{parent ()}}
    <script src="{{ baseUrl }}/app/inscricao/js/inscricao.js"></script>

{% endblock %}