{% extends '/template/layout.html.twig'  %}
    {% block page_style %}
    <style>
    body {
        color: #566787;
        background: #f5f5f5;
		font-family: 'Roboto', sans-serif;
	}
	.table-wrapper {
        background: #fff;
        padding: 20px;
        margin: 30px 0;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }
	.table-title {
        padding-bottom: 10px;
        margin: 0 0 10px;
    }
    .table-title h2 {
        margin: 8px 0 0;
        font-size: 22px;
    }
    .search-box {
        position: relative;        
        float: right;
    }
    .search-box input {
        height: 34px;
        border-radius: 20px;
        padding-left: 35px;
        border-color: #ddd;
        box-shadow: none;
    }
	.search-box input:focus {
		border-color: #3FBAE4;
	}
    .search-box i {
        color: #a0a5b1;
        position: absolute;
        font-size: 19px;
        top: 8px;
        left: 10px;
    }
    table.table tr th, table.table tr td {
        border-color: #e9e9e9;
    }
    table.table-striped tbody tr:nth-of-type(odd) {
    	background-color: #fcfcfc;
	}
	table.table-striped.table-hover tbody tr:hover {
		background: #f5f5f5;
	}
    table.table th i {
        font-size: 13px;
        margin: 0 5px;
        cursor: pointer;
    }
    table.table td:last-child {
        width: 130px;
    }
    table.table td a {
        color: #a0a5b1;
        display: inline-block;
        margin: 0 5px;
    }
	table.table td a.view {
        color: #03A9F4;
    }
    table.table td a.edit {
        color: #FFC107;
    }
    table.table td a.delete {
        color: #E34724;
    }
    table.table td i {
        font-size: 19px;
    }    
    .pagination {
        float: right;
        margin: 0 0 5px;
    }
    .pagination li a {
        border: none;
        font-size: 95%;
        width: 30px;
        height: 30px;
        color: #999;
        margin: 0 2px;
        line-height: 30px;
        border-radius: 30px !important;
        text-align: center;
        padding: 0;
    }
    .pagination li a:hover {
        color: #666;
    }	
    .pagination li.active a {
        background: #03A9F4;
    }
    .pagination li.active a:hover {        
        background: #0397d6;
    }
	.pagination li.disabled i {
        color: #ccc;
    }
    .pagination li i {
        font-size: 16px;
        padding-top: 6px
    }
    .hint-text {
        float: left;
        margin-top: 6px;
        font-size: 95%;
    }    
</style>
    {% endblock  %}

        {% block body_content %}    
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Controle de <b>Frequência</b></h2></div>
                    <div class="col-sm-4">
                        <div class="search-box">
                            <i class="material-icons">&#xE8B6;</i>
                            <input type="text" class="form-control" placeholder="Buscar&hellip;">
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover table-bordered">
                 <caption>Turma 1 da Disciplina de Cálculo III</caption
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome do Aluno <i class="fa fa-sort"></i></th>
                        <th>08/05</th>
                        <th>11/05 <i class="fa fa-sort"></i></th>
                        <th>15/05</th>
                        <th>18/05 <i class="fa fa-sort"></i></th>
                        <th>22/05</th>
                        <th>25/05</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>João</td>
                        <td>
							<a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">check</i></a>
                            <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">clear</i></a>
                            <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">priority_high</i></a>
                        </td>
                        <td>
							<a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">check</i></a>
                            <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">clear</i></a>
                            <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">priority_high</i></a>
                        </td>
                        <td>
							<a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">check</i></a>
                            <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">clear</i></a>
                            <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">priority_high</i></a>
                        </td>
                        <td>
							<a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">check</i></a>
                            <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">clear</i></a>
                            <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">priority_high</i></a>
                        </td>
                        <td>
							<a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">check</i></a>
                            <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">clear</i></a>
                            <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">priority_high</i></a>
                        </td>
                        <td>
							<a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">check</i></a>
                            <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">clear</i></a>
                            <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">priority_high</i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>João</td>
                        <td>
							<a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">check</i></a>
                            <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">clear</i></a>
                            <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">priority_high</i></a>
                        </td>
                        <td>
							<a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">check</i></a>
                            <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">clear</i></a>
                            <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">priority_high</i></a>
                        </td>
                        <td>
							<a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">check</i></a>
                            <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">clear</i></a>
                            <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">priority_high</i></a>
                        </td>
                        <td>
							<a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">check</i></a>
                            <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">clear</i></a>
                            <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">priority_high</i></a>
                        </td>
                        <td>
							<a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">check</i></a>
                            <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">clear</i></a>
                            <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">priority_high</i></a>
                        </td>
                        <td>
							<a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">check</i></a>
                            <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">clear</i></a>
                            <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">priority_high</i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>João</td>
                        <td>
							<a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">check</i></a>
                            <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">clear</i></a>
                            <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">priority_high</i></a>
                        </td>
                        <td>
							<a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">check</i></a>
                            <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">clear</i></a>
                            <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">priority_high</i></a>
                        </td>
                        <td>
							<a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">check</i></a>
                            <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">clear</i></a>
                            <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">priority_high</i></a>
                        </td>
                        <td>
							<a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">check</i></a>
                            <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">clear</i></a>
                            <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">priority_high</i></a>
                        </td>
                        <td>
							<a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">check</i></a>
                            <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">clear</i></a>
                            <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">priority_high</i></a>
                        </td>
                        <td>
							<a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">check</i></a>
                            <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">clear</i></a>
                            <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">priority_high</i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>João</td>
                        <td>
							<a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">check</i></a>
                            <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">clear</i></a>
                            <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">priority_high</i></a>
                        </td>
                        <td>
							<a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">check</i></a>
                            <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">clear</i></a>
                            <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">priority_high</i></a>
                        </td>
                        <td>
							<a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">check</i></a>
                            <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">clear</i></a>
                            <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">priority_high</i></a>
                        </td>
                        <td>
							<a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">check</i></a>
                            <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">clear</i></a>
                            <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">priority_high</i></a>
                        </td>
                        <td>
							<a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">check</i></a>
                            <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">clear</i></a>
                            <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">priority_high</i></a>
                        </td>
                        <td>
							<a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">check</i></a>
                            <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">clear</i></a>
                            <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">priority_high</i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>João</td>
                        <td>
							<a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">check</i></a>
                            <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">clear</i></a>
                            <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">priority_high</i></a>
                        </td>
                        <td>
							<a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">check</i></a>
                            <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">clear</i></a>
                            <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">priority_high</i></a>
                        </td>
                        <td>
							<a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">check</i></a>
                            <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">clear</i></a>
                            <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">priority_high</i></a>
                        </td>
                        <td>
							<a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">check</i></a>
                            <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">clear</i></a>
                            <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">priority_high</i></a>
                        </td>
                        <td>
							<a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">check</i></a>
                            <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">clear</i></a>
                            <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">priority_high</i></a>
                        </td>
                        <td>
							<a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">check</i></a>
                            <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">clear</i></a>
                            <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">priority_high</i></a>
                        </td>
                    </tr>       
                </tbody>
            </table>
            <div class="clearfix">
                <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                <ul class="pagination">
                    <li class="page-item disabled"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item active"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link"><i class="fa fa-angle-double-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>              
        {% endblock  %}

        {% block body_script %}
      
            <script>
$(document).ready(function(){
	$('[data-toggle="tooltip"]').tooltip();
});
               
            </script>   
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">            
        {% endblock %}

        