{% extends '/template/layout.html.twig' %}
{% block page_style %}
    {{parent ()}}
    <link rel="stylesheet" href="{{ baseUrl }}/public/css/grid.css">
{% endblock %}

{% block body_content %}
    <div class="container">
        <input type="hidden" id="hdnGrades" data-dados="{{ dados.grade.result|json_encode() }}">
        <input type="hidden" id="hdnPaginacao" data-dados="{{ dados.grade.paginacao|json_encode() }}">
        <input type="hidden" id="hdnGridOpcoes" data-dados="{{ dados.grade.gridOpcoes|json_encode() }}">

        <div id="divTabGrade" class="divTabForm" hidden>
            <ul>
                <li>
                    <a href="#tabGrade">Grade</a>
                </li>
                <li>
                    <a href="#tabDisciplina" class="menuTabDisciplina">Disciplinas</a>
                </li>
                <li hidden>
                    <a href="#tabRequisito">Disciplinas Requisitos</a>
                </li>
            </ul>

            <div id="tabGrade" class="form formGrade" >

                <input type="hidden" id="g-hdnGrade">
                <div class="form-horizontal">
                    <fieldset>
                        <div id="legend">
                            <legend class="">Dados da Grade</legend>
                        </div>
                        <div class="control-group">

                            <label class="control-label" for="g-gradeNome">Nome da Grade</label>
                            <div class="controls">
                                <input id="g-gradeNome" name="g-gradeNome" placeholder="" class="input-xlarge" type="text">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="g-cursoNome">Nome do Curso</label>
                            <div class="controls autoComplete">
                                <input id="g-cursoNome" name="g-cursoNome" placeholder="" class="input-xlarge autoCompleteGrade autoCompleteText" type="text">
                                <input type="hidden" id="g-cursoId" class="autoCompleteId">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="g-periodoTotal">Período Total</label>

                            <div class="controls">
                                <input id="g-periodoTotal" name="g-periodoTotal" placeholder="" class="input-xlarge" type="text">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="g-cargaHorariaLetiva">Carga Horária Letiva</label>

                            <div class="controls">
                                <input id="g-cargaHorariaLetiva" name="g-cargaHorariaLetiva" disabled="disabled" placeholder="" class="input-xlarge" type="text">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="g-cargaHorariaComplementar">Carga Horária Complementar</label>

                            <div class="controls">
                                <input id="g-cargaHorariaComplementar" name="g-cargaHorariaComplementar" placeholder="" class="input-xlarge" type="text">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="g-cargaHorarioEstagio">Carga Horária Estágio</label>

                            <div class="controls">
                                <input id="g-cargaHorariaEstagio" name="g-cargaHorariaEstagio" placeholder="" class="input-xlarge" type="text">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="g-cargaHorariaTrabalhoFinal">Carga Horária Trabalho Final</label>

                            <div class="controls">
                                <input id="g-cargaHorariaTrabalhoFinal" name="g-cargaHorariaTrabalhoFinal" placeholder="" class="input-xlarge" type="text">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="g-anoSemestre">Ano/Semestre de Início</label>

                            <div class="controls">
                                <select id="g-anoSemestre" name="g-anoSemestre" placeholder="" class="input-xlarge">
                                    <option>
                                        Ano/Sem...</option>
                                    <option>
                                        2017/1
                                    </option>
                                    <option>
                                        2017/2
                                    </option>
                                    <option>
                                        2018/1
                                    </option>
                                    <option>
                                        2018/2
                                    </option>
                                </select>

                                <!--<input id="g-anoSemestre" name="g-anoSemestre" placeholder="" class="input-xlarge" type="text"> -->
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="g-ativo">Ativo</label>

                            <div class="controls">
                                <select id="g-ativo" name="g-ativo" data-default="true">
                                    <option>Ativo ou Inativo...</option>
                                    <option value="true">Ativo</option>
                                    <option value="false">Inativo</option>
                                </select>
                                
                            </div>
                        </div>

                        <div>
                            <br/>
                            <div class="control-group">

                                <div class="controls">
                                    <button id="btnSalvarGrade" class="btn btn-success btn-sm">Salvar</button>
                                    <button  id="btnCancelarGrade" class="btn btn-danger btn-sm">Cancelar</button>
                                </div>
                            </div>
                            <hr/>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div id="tabDisciplina">

                <h5 class="text-info">
                    Disciplinas da Grade </h5>
                <hr/>
                <div class="formSalvarDisciplina" hidden>
                    <h5 class="text-info">Salvar Disciplina</h5><br/>

                    <div class="control-group" style="padding-bottom: 5px;">
                        <div class="controls small">
                            <select id="d-periodoForm" name="d-periodoForm" placeholder="" class=" d-Periodo input-xlarge">
                                <option value="">
                                    Escolha o período...</option>
                            </select>

                        </div>
                    </div>
                    <input type="hidden" id="d-hdnGradeDisciplinaId">
                    <div class="control-group">
                        <label class="control-label" for="d-disciplinaNome">Nome da Disciplina</label>
                        <div class="controls autoComplete">
                            <input id="d-disciplinaNome" name="d-disciplinaNome" placeholder="Digite ou escolha o nome da disciplina..." class="input-xlarge autoCompleteDisciplina autoCompleteText" type="text">
                            <input type="hidden" id="d-disciplinaId" class="autoCompleteId">
                        </div>
                    </div>
                    <div>
                        <br/>
                        <div class="control-group">

                            <div class="controls small">
                                <button id="btnSalvarGradeDisciplina" class="btn btn-success btn-xs">Salvar</button>
                                <button id="btnCancelarGradeDisciplina" class="btn btn-danger btn-xs">Cancelar</button>
                            </div>
                        </div>

                    </div>
                </div>
                <hr/>

                <div class="control-group" style="padding-bottom: 5px;">
                    <div class="controls small">
                        <select id="d-periodoGrid" name="d-periodoGrid" placeholder="" class=" d-Periodo input-xlarge">
                            <option value="">
                                Escolha o período...</option>
                        </select>
                        <button id="btnNovaGradeDisciplina" class="btn btn-primary btn-xs pull-right">Nova Disciplina</button>
                    </div>
                </div>

                <table id="tableDisciplinas" class="table table-striped table-hover small table-bordered">
                    <thead>
                        <tr>
                            <th class="sortOption" data-sort="grade_disciplina">
                                #<i class="fa fa-sort"></i>
                            </th>
                            <th class="sortOption" data-sort="disciplina_nome">
                                Nome da Disciplina<i class="fa fa-sort"></i>
                            </th>
                            <th class="sortOption" data-sort="periodo">
                                Período<i class="fa fa-sort"></i>
                            </th>

                            <th>Opções</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyDisciplinas"></tbody>
                </table>

            </div>

            <div id="tabRequisito" hidden>
                <h5 class="text-info">
                   Requisitos da Grade</h5>
                <hr/>
                <div>
                    <h5 class="text-info">Salvar Requisito</h5><br/>

                    <div class="control-group" style="padding-bottom: 5px;">
                        <div class="controls small">
                            <input id="r-periodo" name="r-periodo" class="input-xlarge" disabled="disabled" type="text">
                        </div>
                    </div>
                    <input type="hidden" id="r-hdnGradeDisciplinaRequisitoId">
                    <div class="control-group">
                        <label class="control-label" for="r-disciplinaNome">Nome da Disciplina Requisito</label>
                        <div class="controls autoComplete">
                            <input id="r-disciplinaNome" name="r-disciplinaNome" placeholder="Digite ou escolha o nome da disciplina..." class="input-xlarge autoCompleteDisciplina autoCompleteText" type="text">
                            <input type="hidden" id="r-disciplinaId" class="autoCompleteId"><!-- na verdade discilinaId = gradeDisciplinaId"--></div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="r-disciplinaNome">Tipo de Requisito</label>
                        <div class="controls">
                            <select id="r-requisitoTipo" name="r-requisitoTipo" placeholder="" class="r-requisitoTipo input-xlarge">
                                <option value="">
                                    Escolha o tipo de requisito...</option>
                                <option value="1">
                                    Pré-Requisito</option>
                            </select>
                        </div>
                    </div>

                    <div>
                        <br/>
                        <div class="control-group">
                            <div class="controls small">
                                <button id="btnSalvarRequisito" class="btn btn-success btn-xs">Salvar</button>
                                <button class="btn btn-danger btn-xs">Cancelar</button>
                            </div>
                        </div>

                    </div>
                </div>
                <hr/>

                <table id="tableRequisitos" class="table table-striped table-hover small table-bordered">
                    <thead>
                        <tr>
                            <th class="sortOption" data-sort="grade_disciplina_requisito">
                                #<i class="fa fa-sort"></i>
                            </th>
                            <th class="sortOption" data-sort="disciplina_nome">
                                Nome da Disciplina<i class="fa fa-sort"></i>
                            </th>
                            <th class="sortOption" data-sort="disciplina_periodo">
                                Período<i class="fa fa-sort"></i>
                            </th>
                            <th class="sortOption" data-sort="disciplina_tipo">
                                Tipo de Requisito<i class="fa fa-sort"></i>
                            </th>

                            <th>Opções</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyRequisitos"></tbody>
                </table>
            </div>

        </div>
        <!-- fim tab -->
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8">
                        <h2>Controle de
                            <b>Grades</b>
                        </h2>
                    </div>
                    <div class="col-sm-4">
                        <div class="search-box">
                            <i class="material-icons">&#xE8B6;</i>
                            <input type="text" id="buscaPalavraChave" class="form-control" placeholder="Buscar&hellip;">
                        </div>
                    </div>
                </div>
            </div>

            <div class="control-group" style="padding-bottom: 5px; ">
                <div class="controls small" style="clear:both;">
                    <button id="btnNovaGrade" class="btn btn-primary btn-xs pull-right">Nova Grade</button>
                </div>
                <div style="clear:both;"></div>
            </div>

            <table id="tableGrades" class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th class="sortOption" data-sort="grade">
                            #<i class="fa fa-sort"></i>
                        </th>
                        <th class="sortOption" data-sort="curso_nome">
                            Nome do Curso
                            <i class="fa fa-sort"></i>
                        </th>
                        <th class="sortOption" data-sort="grade_nome">
                            Nome da Grade
                            <i class="fa fa-sort"></i>
                        </th>
                        <th class="sortOption" data-sort="periodo_total">
                            Período Total
                            <i class="fa fa-sort"></i>
                        </th>
                        <th class="sortOption" data-sort="carga_horaria_letiva">
                            Carga Horária Letiva
                            <i class="fa fa-sort"></i>
                        </th>
                        <th class="sortOption" data-sort="carga_horaria_trabalho_final">
                            Carga Horária Trabalho Final
                            <i class="fa fa-sort"></i>
                        </th>
                        <th class="sortOption" data-sort="ativo">
                            Ativo
                            <i class="fa fa-sort"></i>
                        </th>

                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody id="tbodyGrades"></tbody>
            </table>
            <div class="clearfix">
                <ul class="pagination"></ul>
            </div>
        </div>
    </div>
    <!-- fim container -->
    <div class="msgAlert alert" hidden>
        <div><strong></strong></div>
    </div>   
{% endblock %}

{% block body_script %}
    {{parent ()}}
    <script src="{{ baseUrl }}/app/grade/js/grade.js"></script>

{% endblock %}