{% extends '/template/layout.html.twig' %}
{% block page_style %}
    {{parent ()}}
    <link rel="stylesheet" href="{{ baseUrl }}/public/css/grid.css">
{% endblock %}

{% block body_content %}
    <div class="container">
        <input type="hidden" id="hdnDisciplinas" data-dados="{{ dados.disciplina.result|json_encode() }}">
        <input type="hidden" id="hdnPaginacao" data-dados="{{ dados.disciplina.paginacao|json_encode() }}">
        <input type="hidden" id="hdnGridOpcoes" data-dados="{{ dados.disciplina.gridOpcoes|json_encode() }}">

        <input type="hidden" id="hdnDepartamentos" data-dados="{{ dados.departamento|json_encode() }}">

        <div class="form formDisciplina" hidden>

            <input type="hidden" id="hdnFormDisciplina">
            <div class="form-horizontal">
                <fieldset>
                    <div id="legend">
                        <legend class="">Dados da Disciplina</legend>
                    </div>
                    <div class="control-group">
                        <!-- Nome da  Disciplina -->
                        <label class="control-label" for="d-nome">Nome da Disciplina</label>
                        <div class="controls">
                            <input id="d-nome" name="d-nome" placeholder="" class="input-xlarge" type="text">
                        </div>
                    </div>

                    <div class="control-group">
                        <!-- E-mail -->
                        <label class="control-label" for="d-departamento">Nome do Departamento</label>
                        <div class="controls">
                            <select id="d-departamento" class="input-xlarge">
                                <option val="">Selecione um departamento...
                                </option>
                            </select>
                        </div>
                    </div> 

         

                    <div class="control-group">
                        <!-- Nome da  Disciplina -->
                        <label class="control-label" for="d-cargaHorariaTotal">Carga Horária Total</label>
                        <div class="controls">
                            <input id="d-cargaHorariaTotal" name="d-cargaHorariaTotal" placeholder="" class="input-xlarge" type="text">
                        </div>
                    </div>

                    <div class="control-group">
                        <!-- Nome da  Disciplina -->
                        <label class="control-label" for="d-cargaHorariaTeorica">Carga Horária Total</label>
                        <div class="controls">
                            <input id="d-cargaHorariaTeorica" name="d-cargaHorariaTeorica" placeholder="" class="input-xlarge" type="text">
                        </div>
                    </div>                    

                    <div class="control-group">
                        <!-- Nome da  Disciplina -->
                        <label class="control-label" for="d-cargaHorariaPratica">Carga Horária Prática</label>
                        <div class="controls">
                            <input id="d-cargaHorariaPratica" name="d-cargaHorariaPratica" placeholder="" class="input-xlarge" type="text">
                        </div>
                    </div>

                    <div class="control-group">
                        <!-- Nome da  Disciplina -->
                        <label class="control-label" for="d-cargaHorariaDistancia">Carga Horária Distância</label>
                        <div class="controls">
                            <input id="d-cargaHorariaDistancia" name="d-cargaHorariaDistancia" placeholder="" class="input-xlarge" type="text">
                        </div>
                    </div>     



                    <div class="controls">
                        <label class="control-label" for="d-ativo">Ativo</label>
                        <div class="controls">
                        <select id="d-ativo" name="d-ativo" data-default="true">                            
                            <option value="true">Ativo</option>
                            <option value="false">Inativo</option>
                        </select>
                        </div>
                        <!--<input id="g-ativo" name="g-ativo" class="input-xlarge" type="checkbox"> -->
                    </div>                                                                           

                    <div>
                        <br/>
                        <div class="control-group">
                            <!-- Button -->
                            <div class="controls">
                                <button id="btnSalvarDisciplina" class="btn btn-success btn-sm">Salvar</button>
                                <button id="cancelarDisciplina" class="btn btn-danger btn-sm">Cancelar</button>
                            </div>
                        </div>
                        <hr/>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8">
                        <h2>Controle de
                            <b>Disciplinas</b>
                        </h2>
                    </div>
                    <div class="col-sm-4">
                        <div class="search-box">
                            <i class="material-icons">&#xE8B6;</i>
                            <input type="text" id="buscaPalavraChave" class="form-control" placeholder="Buscar&hellip;">
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="control-group" style="padding-bottom: 5px; ">
                <div class="controls small" style="clear:both;">
                    <button id="btnNovaDisciplina" class="btn btn-primary btn-xs pull-right">Nova Disciplina</button>
                </div>
                <div style="clear:both;"></div>
            </div>
 
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th class="sortOption" data-sort="disciplina">
                            #<i class="fa fa-sort"></i>
                        </th>
                        <th class="sortOption" data-sort="disciplina_nome">
                            Nome
                            <i class="fa fa-sort"></i>
                        </th>
                        <th class="sortOption" data-sort="departamento_nome">
                            Departamento
                            <i class="fa fa-sort"></i>
                        </th>
                        <th class="sortOption" data-sort="carga_horaria_total">
                            Carga Horária Total
                            <i class="fa fa-sort"></i>
                        </th>
                        <th class="sortOption" data-sort="carga_horaria_teorica">
                            Carga Horária Teórica
                            <i class="fa fa-sort"></i>
                        </th>
                        <th class="sortOption" data-sort="carga_horaria_pratica">
                            Carga Horária Prática
                            <i class="fa fa-sort"></i>
                        </th>
                        <th class="sortOption" data-sort="carga_horaria_distancia">
                            Carga Horária a Distância
                            <i class="fa fa-sort"></i>
                        </th>

                        <th class="sortOption" data-sort="ativo">
                            Ativo
                            <i class="fa fa-sort"></i>
                        </th>

                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody id="tbodyDisciplinas"></tbody>
            </table>
            <div class="clearfix">
                <ul class="pagination"></ul>
            </div>
        </div>
    </div>
    <div class="msgAlert alert" hidden>
        <div><strong></strong></div>
    </div>    
{% endblock %}

{% block body_script %}
    {{parent ()}}
    <script src="{{ baseUrl }}/app/disciplina/js/disciplina.js"></script>

{% endblock %}