{% extends '/template/layout.html.twig' %}
{% block head %}
    {{parent ()}}
{% endblock %}

{% block body_content %}

    <div class="container-fluid">
        Página Principal
        <div class="row">
            <div class="">
                <div class="">
                    <div class="panel-body"></div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block body_script %}
    {{parent ()}}
{% endblock %}