{% extends '/template/layout.html.twig'  %}
    {% block page_style %}
        {{parent ()}}
        <link rel="stylesheet" href="{{ baseUrl }}/public/css/login.css">
    {% endblock  %}

        {% block body_content %}    
        
            <div class="container-fluid" >
                {% if mensagemErro is defined and mensagemErro == true %}
                    <div class="alert alert-danger" role="alert">
                        Usuário ou senha inválidos.
                    </div>
                {% endif %}
             
                
                <div class="well login-box" 
                    style="margin-top: 20.5px; display: block; 
                        background: #ffffff !important;
                        border: solid 1.4px rgba(160, 160, 160) !important;
                        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0) !important;
                        color: rgb(160,160,160) !important;
                       "
                >
                        <div>
                            <legend style="color: rgb(140,140,140) !important;">Login</legend>
                            <div class="form-group">
                                <label for="username-email">E-mail ou Usuário</label>
                                <input id="username-email" placeholder="E-mail ou Usuário" class="form-control" type="text"
                                    style='min-width: 18em;'
                                >
                            </div>
                            <div class="form-group">
                                <label for="password">Senha</label>
                                <input id="password" value="" placeholder="Senha" class="form-control" type="text"
                                     style='min-width: 18em; '  onfocus="this.type='password'"
                                >
                            </div>
                            <div class="form-group text-center">
                                <button class="btn btn-success btn-login-submit">Entrar</button>
                                <button class="btn btn-danger btn-cancel-action">Nova Conta</button>
                            </div>
                            <span id='loginSenhaVazio' class="error text-danger" hidden>Preencha login e senha. </span>
                        
                        </div>
                    </div>
                </div>     
            </div>
          
  
        {% endblock  %}

        {% block body_script %}
            <script src="{{ baseUrl }}/app/home/js/login.js"></script> 
        {% endblock %}

        